// COLORS

$color-black: #000;
$color-black-light: #262626;
$color-grey: #505050;
$color-white: #fff;
$color-green: #09de57;
$color-red: #ef1212;

$color-clock-1: #313233;

// Shadows

$clock-shadow-1: 0.19rem 0 0.19rem rgba($color-black, 0.2);
$clock-shadow-2: 0.9rem 0 0.6rem rgba($color-black, 0.27);
$clock-shadow-3: 2.2rem 0 1.25rem rgba($color-black, 0.15);
$header-icon-shadow-1: 0.3125rem 0 0.625rem rgba($color-black, 0.15);
$header-icon-shadow-2: 0.156rem 0 0.3125rem rgba($color-black, 0.15);
