@import "./abstract.scss";

.header {
  position: absolute;
  right: 3.75rem;
  top: 1.875rem;
  display: flex;

  & > *:not(:first-child) {
    margin-left: 1.25rem;
  }

  & > * {
    -webkit-tap-highlight-color: transparent;
  }

  @include respond(phone) {
    right: 50%;
    transform: translateX(50%);
  }

  &__icon-wrapper {
    --header-icon-dimension: 3.75rem;
    position: relative;
    width: var(--header-icon-dimension);
    height: var(--header-icon-dimension);
    background-color: rgba(#fff, 0.5);
    border-radius: 50%;
    box-shadow: $header-icon-shadow-1;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s;

    @include respond(tab-port) {
      --header-icon-dimension: 3.625rem;
    }

    &:hover {
      transform: translateY(-3px);

      @include respond(phone) {
        transform: translateY(1.25rem);
      }
    }

    &:active {
      transform: translateY(0);
      box-shadow: $header-icon-shadow-2;

      @include respond(phone) {
        transform: translateY(1.25rem);
        box-shadow: $header-icon-shadow-2;
      }
    }
  }
}
