@import "./abstract.scss";

.heading {
  &--primary {
    font-size: 1.375rem;
    color: $color-white;
    font-weight: 600;
    text-transform: uppercase;
    margin-left: 0.9375rem;

    @include respond(tab-port) {
      font-size: 1.47rem;
    }
  }

  &--secondary {
    font-size: 1.0625rem;
    color: $color-white;
    font-weight: 500;
  }
}
